<h1 class="text-center pt-4"><big>About</big></h1>
<h4 class="text-center pt-5">
  <strong>
  ながのCAKEは全国発送可能なケーキ屋さんです。<br>
  お子様からお年寄りの方までお召し上がりいただけるよう、<br>
  様々なバリエーションをご用意しております。<br>
  また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
  ぜひご注文ください。
  </strong>
</h4>


