
<div class="col-md-8 mx-auto mt-5">
  <h5 class="text-left pb-4"><span style="background-color:#f5f5f5">　会員一覧　</span></h5>
  <div class="container">  
    <table class="table table-hover px-auto">
    <thead class="thead-light">
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>
  <tbody>
    <% @customers.each do |customer| %>
     <tr>
      <td class="col-md-3">
        <%= customer.id  %>
      </td>
      <td class="col-md-3">
        <%= link_to full_name(customer), admin_customer_path(customer.id) %>
      </td>
      
      <td class="col-md-3">
        <%= customer.email %>
      </td>
      <td class="col-md-3">
            <% if customer.is_active == true %>
                <p class="text-success font-weight-bold">有効</p>
              <% else %>
                <p class="text-secondary font-weight-bold">退会済</p>
            <% end %>
      </td>
      
      
    </tr>
    
    <% end %>
    
  </tbody>
  </table>
    <%= paginate @customers %>
  
</div>
</div>
