
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th>
          <strong>
            ジャンル検索
          </strong>
        </th>
      </tr>
      <tr>
        <td>
          <% genres.each do |genre| %>
         
            <%= link_to genre.name, "#" , class: "link-dark" %><br>
          <br>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
