              <!--検索ボックス-->
              <div class="row">
                <div class="col-md-12">
                  <div class="w-50">
                    <div class="input-group">
                      <input type="text" class="form-control position-relative" placeholder="商品検索">
                      <div><button class="btn position-absolute" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>